@mixin rounded($radius: 2px) {
  -webkit-border-radius: $radius;
  -moz-border-radius: $radius;
  border-radius: $radius;
  -moz-background-clip: padding; -webkit-background-clip: padding-box; background-clip: padding-box; 
}
@mixin rounded-corners($tl: 3px, $tr: 3px, $br: 3px, $bl: 3px) {
  -moz-border-radius-topleft: $tl;
  -moz-border-radius-topright: $tr;
  -moz-border-radius-bottomright: $br;
  -moz-border-radius-bottomleft: $bl;
  -webkit-border-radius: $tl $tr $br $bl;
  border-radius: $tl $tr $br $bl;
}
@mixin rotate($deg:5deg){
  -webkit-transform: rotate($deg);
  -moz-transform: rotate($deg);
  transform: rotate($deg);
}
@mixin scale($ratio:1.5){
  -webkit-transform:scale($ratio);
  -moz-transform:scale($ratio);
  transform:scale($ratio);
}
@mixin transition($transition) {
  -webkit-transition: $transition;
  -moz-transition: $transition;
  -ms-transition: $transition;
  -o-transition: $transition;
  transition: $transition;
}
@mixin translate($x:0, $y:0) {
  -moz-transform: translate($x, $y);
  -webkit-transform: translate($x, $y);
  -o-transform: translate($x, $y);
  -ms-transform: translate($x, $y);
  transform: translate($x, $y);
}
@mixin box-shadow($arguments) {
  -webkit-box-shadow: $arguments;
  -moz-box-shadow: $arguments;
  box-shadow: $arguments;
}
