[class^='pxr-icon-'],
[class*=' pxr-icon-'] {
   font-family: 'pxriconfont';
   speak: none;
   font-style: normal;
   font-weight: normal;
   font-variant: normal;
   text-transform: none;
   line-height: 1;

   /* Better Font Rendering =========== */
   -webkit-font-smoothing: antialiased;
   -moz-osx-font-smoothing: grayscale;
}

.pxr-icon-arrowtop:before {
   content: '\e909';
   color: #d13a44;
}
.pxr-icon-close:before {
   content: '\e90a';
   color: #d13a44;
}
.pxr-icon-basket:before {
   content: '\e90b';
   color: #d13a44;
}
.pxr-icon-basketfull:before {
   content: '\e90c';
   color: #d13a44;
}
.pxr-icon-pdf:before {
   content: '\e90d';
   color: #d13a44;
}
.pxr-icon-arrowright:before {
   content: '\e90e';
   color: #d13a44;
}
.pxr-icon-arrowleft:before {
   content: '\e90f';
   color: #d13a44;
}
.pxr-icon-fullstar:before {
   content: '\e910';
   color: #d13a44;
}
.pxr-icon-snow:before {
   content: '\e911';
   color: #d13a44;
}
.pxr-icon-arrowdown:before {
   content: '\e908';
   color: #d13a44;
}
.pxr-icon-email:before {
   content: '\e900';
   color: #d13a44;
}
.pxr-icon-loop:before {
   content: '\e901';
   color: #d13a44;
}
.pxr-icon-pig:before {
   content: '\e902';
   color: #d13a44;
}
.pxr-icon-size:before {
   content: '\e903';
   color: #d13a44;
}
.pxr-icon-star:before {
   content: '\e904';
   color: #d13a44;
}
.pxr-icon-wechat:before {
   content: '\e905';
   color: #d13a44;
}
.pxr-icon-weight:before {
   content: '\e906';
   color: #d13a44;
}
.pxr-icon-whatsapp:before {
   content: '\e907';
   color: #d13a44;
}

.pxr-icon-globe:before {
   content: '\e912';
   color: #d13a44;
}
