.fade-image {
  display: block;
  position: relative;
  z-index: 2;
  overflow: hidden;
}
.fade-image:after {
  content: '';
  margin: 0 -5px 0 0;
  position: absolute;
  top: 0;
  height: 100%;
  right: calc(100% + 6px);
  left: 0;
  background: #cccccc;
  z-index: 3;
  transition: bottom 0.4s cubic-bezier(0.16, 0.8, 0.4, 1) 0s, right 0.4s cubic-bezier(0.7, 0, 0.17, 1) 0.3s, margin 0.4s cubic-bezier(0.7, 0, 0.17, 1) 0.3s, left 0.4s cubic-bezier(0.7, 0, 0.17, 1) 0.6s; 
}
.fade-image img:first-child {
  transition: opacity 0s 0.6s, transform 1s 0.6s;
  opacity: 0;
  transform: translateX(-18px) translateZ(0); 
}

.fade-image.loaded-img-wrapper:after {
  margin-right: 0;
  right: -3px;
  left: 100%;
}
.fade-image.loaded-img-wrapper img:first-child {
  transform: translateX(0);
  opacity: 1; 
}

.mosaic-item {
  display: block;
  position: relative;
  z-index: 1;
  overflow: hidden; 
}
.mosaic-item:after {
  content: '';
  margin: 0 -5px 0 0;
  position: absolute;
  top: 0;
  right: 100%;
  bottom: 100%;
  left: 0;
  background: #cccccc;
  z-index: 3;
  transition: bottom 0.4s cubic-bezier(0.16, 0.8, 0.4, 1) 0s, right 0.4s cubic-bezier(0.7, 0, 0.17, 1) 0.3s, margin 0.4s cubic-bezier(0.7, 0, 0.17, 1) 0.3s, left 0.4s cubic-bezier(0.7, 0, 0.17, 1) 0.6s; 
}
.mosaic-item .mosaic-link {
  transition: opacity 0s 0.7s, transform 1s 0.6s;
  opacity: 0;
  transform: translateX(-18px) translateZ(0); 
}
.mosaic-item.mosaic-loaded:after {
  margin-right: 0;
  right: -3px;
  bottom: 0;
  left: 100%; 
}
.mosaic-item.mosaic-loaded .mosaic-link {
  transform: translateX(0);
  opacity: 1; 
}
.fade-animation {
  transition: transform 0.65s 0s cubic-bezier(0.7, 0, 0.17, 1), opacity 0.65s 0s;
  transform: translateY(-27px);
  opacity: 0;
}
.fade-animation.loaded-animation {
  transform: translateY(0);
  opacity: 1;
}
.no-anim-images .fade-image:after {
  margin-right: 0;
  right: -3px;
  bottom: 0;
  left: 100%; 
}
.no-anim-images .fade-image img:first-child {
  transform: translateX(0);
  opacity: 1; 
}
.no-anim-images .mosaic-item:after {
  margin-right: 0;
  right: -3px;
  bottom: 0;  
  left: 100%; 
}
.no-anim-images .mosaic-item .mosaic-link {
  transform: translateX(0);
  opacity: 1; 
}
.no-anim-text .fade-animation {
  transform: translateY(0);
  opacity: 1; 
}
.fade-animation {
  transition: transform 0.65s 0s cubic-bezier(0.7, 0, 0.17, 1), opacity 0.65s 0s;
  transform: translateY(-27px);
  opacity: 0;
}