@media only screen and (min-width: 2120px) {

}

@media (max-width: 1320px) {

}

@media (max-width: 1024px) {

}

@media (max-width: 870px) {
  
}

@media (max-width: 768px) { 
  
}

@media (max-width: 600px) {
  
}

@media (max-width: 420px) {
  
}